html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container{
  margin: 20px;
}

.logo-tigo{
  height: 80px;
}

.swiper-slide-image{
  width: 70%;
}
.elementor-image-carousel{
  /* display: none; */
}
.elementor-image{
  display: none;
}
.logo-explora{
  height: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
